@charset "UTF-8";

/* 공통 부분
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    color: rgb(0, 0, 0);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 제목 */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px rgb(71, 116, 162) solid;
    font-weight: normal;
}

/* 버튼 */
.button {
    font-size: 1.375rem;
    background: rgb(71, 116, 162);
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: rgb(71, 116, 162);
}

/* iframe */
iframe {
    width: 100%;
}

/* HEADER
------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 180px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: rgb(0, 0, 0);
}
.main-nav a:hover {
    color: rgb(71, 116, 162);
}


/* NEWS
------------------------------- */
#news {
    height: 100px;
    margin-bottom: 40px;
}
#news .page-title {
    text-align: center;
}
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top : 50px;
    background-color: rgb(240, 240, 240);
}

/* 기사 부분 */
article {
    width: 74%;
}

article img {
    margin-bottom: 20px;

}
article p {
    margin-bottom: 1rem;
}

/* 사이드바 */
aside {
    width: 22%;
}
.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li {
    border-bottom: 1px #ddd solid;
}
.sub-menu a {
    color: rgb(0, 0, 0);
    padding: 10px;
    display: block;
}
.sub-menu a:hover {
    color: rgb(71, 116, 162);
}
aside p {
    padding: 12px 10px;
    font-size: 0.9rem;
}

.user-info {
    list-style: none;
    font-size: 0.8rem;
    color : rgb(50, 135, 220);
}
.comment {
    background-color: white;
    height: 300px;
}


/* 푸터
------------------------------- */
footer {
    background: rgb(71, 116, 162);
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* 모바일 버전
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }

    /* NEWS */
    .news-contents {
        flex-direction: column;
    }
    #news .page-title {
        margin-top: 30px;
    }
    article,
    aside {
        width: 100%;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
}